/* style.css */

html, body {
  height: 100%;
  width: 100%;

}

body {
  margin: 0;
  display: flex;
  display:inline-block;
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

#sketch-holder{
	display:inline-block;
}

#clock-holder{
	display:inline-block;
	color: white;
	font-size: 30px;
}