{% if page.title == "Home"%}{% assign showHeader = true %}{% endif %}

{% if page.title == "About"
%}{% assign showAboutHeader = true %}{% endif %}

{% if page.title == "Contests"
%}{% assign showContestHeader = true %}{% endif %}

{% if page.title == "Projects"
%}{% assign showProjectHeader = true %}{% endif %}


{% for post in site.posts %}	
	{% for tag in post.tags %}
		{% if tag == page.tag %}
			{% assign showMinHeader = true %}
		{% endif %}
	{% endfor %}
{% endfor %}			

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% if showAboutHeader == true %}
    <span class="link">
        <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" style = "width: 200px;"/> 
    </span>

    <div style="height: 10px;"></div>

    <header class="header-home {% if site.animation %}animated{% endif %}">
        <h1 class="title">{{ page.title }}</h1>
        <!--{% include social-links.html %}-->
    </header>
{% endif %}

{% if showContestHeader == true %}
    <span class="link">
        <img class="selfie" alt="{{ site.name }}" src="./../assets/images/papers.jpg" style = "width: 200px;"/> 
    </span>

    <div style="height: 10px; margin: 0 auto;"></div>

    <header class="header-home {% if site.animation %}animated{% endif %}">
        <h1 class="title">{{ page.title }}</h1>
        <!--{% include social-links.html %}-->
    </header>
{% endif %}

{% if showProjectHeader == true %}
    <span class="link">
        <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" style = "width: 200px;"/> 
    </span>

    <div style="height: 10px;"></div>

    <header class="header-home {% if site.animation %}animated{% endif %}">
        <h1 class="title">{{ page.title }}</h1>
        <!--{% include social-links.html %}-->
    </header>
{% endif %}










{% include nav.html %}
